streamlit

# LangChain & RAG Stack
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-google-genai
# langchain-classic


# Embeddings & Vector Database
sentence-transformers
chromadb
transformers
torch

# LLM Provider APIs
groq
google-genai

# PDF Processing
PyMuPDF
pdf2image
pytesseract
pillow

# Data Processing
numpy
pandas

# Configuration & Utils
python-dotenv